@tailwind base;
@tailwind components;
@tailwind utilities;



body{
	overflow-y: scroll;
	background-color: #F2F3F2;
}

.whatisrehabify{
	height: 30rem;
}

.inputField {
	width: 24rem;
}

.heightWeight{
	width: 24rem;
}

.provideCards{
	height: 10rem;
	width: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.whatProvide{
	
}